:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-color: #000;
  --secondary-color: #212729;
  --tertiary-color: #414545;
  --quaternary-color: #9d9d9d;
  --red-color: #c2183d;
  --green-color: #28a745;
  --yellow-color: #d5a104;
  --blue-color: #007bff;
  --white-color: #fff;
  --black-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
